@model FakeNewsProject.Models.User

@{
    ViewBag.Title = "Detail Page for " + Model.UserName;
}

<center><h2>User Details for @Model.UserName</h2></center>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>Real Name</dt>
        <dd>
        @Html.DisplayFor(model => model.FName) 
        @Html.DisplayFor(model => model.LName)</dd>
        <dd><br/></dd>
        <dt>
            Stories:
        </dt>
            @foreach (var item in Model.Favorites)
            {
                <dd>@Html.ActionLink(item.Story.Title, "Details", "Stories", new { ID = item.ID }, null)</dd>
            }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("User List", "Index") |
    @Html.ActionLink("Story List", "Index","Stories")
</p>
