@model PagedList.IPagedList<IPGMMS.Models.Member>
@using PagedList.Mvc

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@using (Ajax.BeginForm("ListMembers", "Portal", FormMethod.Post,
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "CenterPartialUpdateFrame"
                        }))
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}


<table class="table">
    <tr>
        <th>
            @{ var memlvl = @Html.DisplayNameFor(model => model.FirstOrDefault().MemberLevel1.MLevel).ToString();}
            @Ajax.ActionLink(
            memlvl,
            "ListMembers",
            "Portal",
            new { sortOrder = ViewBag.mem_lvl },
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "CenterPartialUpdateFrame",
            })
        </th>
        <th>
            @{ var userName = @Html.DisplayNameFor(model => model.FirstOrDefault().UserName).ToString();}
            @Ajax.ActionLink(
            userName,
            "ListMembers",
            "Portal",
            new { sortOrder = ViewBag.userName },
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "CenterPartialUpdateFrame",
            })
            
        </th>
        <th>
            @{ var mem_num = @Html.DisplayNameFor(model => model.FirstOrDefault().Membership_Number).ToString();}
            @Ajax.ActionLink(
            mem_num,
            "ListMembers",
            "Portal",
            new { sortOrder = ViewBag.mem_num },
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "CenterPartialUpdateFrame",
            })
        </th>
        <th>
            @{ var date_start = @Html.DisplayNameFor(model => model.FirstOrDefault().Membership_SignupDate).ToString();}
            @Ajax.ActionLink(
            date_start,
            "ListMembers",
            "Portal",
            new { sortOrder = ViewBag.date_start },
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "CenterPartialUpdateFrame",
            })
        </th>
        <th>
            @{ var date_end = @Html.DisplayNameFor(model => model.FirstOrDefault().Membership_ExpirationDate).ToString();}
            @Ajax.ActionLink(
            date_end,
            "ListMembers",
            "Portal",
            new { sortOrder = ViewBag.date_end },
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "CenterPartialUpdateFrame",
            })
        </th>
        <th>
            @{ var f_name = @Html.DisplayNameFor(model => model.FirstOrDefault().FirstName).ToString();}
            @Ajax.ActionLink(
            f_name,
            "ListMembers",
            "Portal",
            new { sortOrder = ViewBag.f_name },
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "CenterPartialUpdateFrame",
            })
        </th>
        <th>
            @{ var m_name = @Html.DisplayNameFor(model => model.FirstOrDefault().MiddleName).ToString();}
            @Ajax.ActionLink(
            m_name,
            "ListMembers",
            "Portal",
            new { sortOrder = ViewBag.m_name },
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "CenterPartialUpdateFrame",
            })
        </th>
        <th>
            @{ var l_name = @Html.DisplayNameFor(model => model.FirstOrDefault().LastName).ToString();}
            @Ajax.ActionLink(
            l_name,
            "ListMembers",
            "Portal",
            new { sortOrder = ViewBag.lName },
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "CenterPartialUpdateFrame",
            })
        </th>
        <th>
            @{ var b_name = @Html.DisplayNameFor(model => model.FirstOrDefault().BusinessName).ToString();}
            @Ajax.ActionLink(
            b_name,
            "ListMembers",
            "Portal",
            new { sortOrder = ViewBag.b_name },
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "CenterPartialUpdateFrame",
            })
        </th>
        <th>
            @{ var website = @Html.DisplayNameFor(model => model.FirstOrDefault().Website).ToString();}
            @Ajax.ActionLink(
            website,
            "ListMembers",
            "Portal",
            new { sortOrder = ViewBag.website },
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "CenterPartialUpdateFrame",
            })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MemberLevel1.MLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Membership_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Membership_SignupDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Membership_ExpirationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>
<div>
    Page @(Model.PageNumber < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("ListMembers", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.currentFilter}), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new AjaxOptions() { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "CenterPartialUpdateFrame" }))
</div>
