@model IEnumerable<IPGMMS.Models.Member>

@{
    ViewBag.Title = "List Members";
    Layout = "~/Views/Shared/_AdminPortalLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function () {
    $('#orderedTable').DataTable();
});</script>


<table id ="orderedTable" class="w3-table-all w3-card-4 w3-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Membership_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Membership_SignupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Membership_ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().BusinessName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MemberLevel1.MLevel)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Membership_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Membership_SignupDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Membership_ExpirationDate)
                </td>
                <td id="memberListLinks">
                    @Html.ActionLink(item.FirstName, "UpdateMember/" + item.ID, "Portal")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberLevel1.MLevel)
                </td>
            </tr>
        }
    </tbody>
</table>