@model IEnumerable<IPGMMS.Models.Member>
@{
    ViewBag.Title = "New Members";
    Layout = "~/Views/Shared/_AdminPortalLayout.cshtml";
}
<h2>New Members Report</h2>


<br />


<div>
    <button class="w3-btn w3-round w3-ripple w3-small editButton" onclick="location.href=  '@Url.Action("ReportLandingPage", "Portal")'"><i class="fa fa-arrow-left fa-lg"></i> Back to Reports</button>
    <button class="w3-btn w3-round w3-ripple w3-small editButton" onclick="location.href='@Url.Action("NewMembersReportToExcel", "Portal")'"><i class="fa fa-table fa-lg"></i> Export to Excel</button>
    <button class="w3-btn w3-round w3-ripple w3-small editButton" disabled><i class="fa fa-envelope fa-lg"></i> Email Members</button>
</div>

<br />
<table id ="orderedTable" class="w3-table-all w3-card-4 w3-responsive allowScroll" style="width:92%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Membership_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().BusinessName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Membership_ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Membership_SignupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MemberLevel1.MLevel)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr class="w3-hover-blue" onclick="location.href = '@(Url.Action("UpdateMember/" + item.ID, "Portal"))'">
                <td>
                    @Html.DisplayFor(modelItem => item.Membership_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Membership_ExpirationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Membership_SignupDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberLevel1.MLevel)
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    @Scripts.Render("~/Scripts/data_tables.js")
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
}