@model IPGMMS.ViewModels.MemberInfoViewModel

@{
    ViewBag.Title = "Update Member";
    Layout = "~/Views/Shared/_AdminPortalLayout.cshtml";
}
<h2>Member Details</h2>
<div class="w3-row">
    <div class="w3-half">
        <h4>@Html.ActionLink("List All Members", "ListMembers", "Portal", null, new { @class = "navigationLinks" }) > @Html.DisplayFor(model => model.MemberInfo.FullName)</h4>
    </div>
    <div class="w3-quarter pull-right">
        <button class="w3-btn w3-round w3-ripple w3-small editButton" onclick="location.href='@Url.Action("Details", "Member",new { ID = Model.MemberInfo.ID })'"><i class="fa fa-cloud"></i> View Public Profile</button><br />
    </div>
    <div class="w3-quarter">
        </div>
</div>


<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.MemberInfo.MemberLevel1.MLevel)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MemberInfo.MemberLevel1.MLevel)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.MemberInfo.Membership_SignupDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MemberInfo.Membership_SignupDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.MemberInfo.FirstName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MemberInfo.FirstName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.MemberInfo.LastName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MemberInfo.LastName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.MemberInfo.BusinessName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MemberInfo.BusinessName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.MemberInfo.Website)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MemberInfo.Website)
    </dd>

</dl>
</div>
<div>
    <button class="w3-btn w3-round w3-ripple w3-small editButton" onclick="location.href='@Url.Action("UpdateMemberInfo", "Portal",new { memID = Model.MemberInfo.ID })'"><i class="fa fa-pencil fa-lg"></i> Update Member Info</button><br />
</div>
<br />
<div>
    <h2>Mailing Information</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MailingInfo.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailingInfo.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailingInfo.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailingInfo.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailingInfo.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailingInfo.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailingInfo.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailingInfo.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailingInfo.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailingInfo.StateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailingInfo.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailingInfo.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailingInfo.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailingInfo.StateName)
        </dd>

    </dl>
</div>
<div>
    <button class="w3-btn w3-round w3-ripple w3-small editButton" onclick="location.href='@Url.Action("UpdateMemberMailing", "Portal",new { memID = Model.MemberInfo.ID })'"><i class="fa fa-pencil fa-lg"></i> Update Mailing Info</button><br />
</div>
<br />
<div>
    <h2>Listing Information</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ListingInfo.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingInfo.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingInfo.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingInfo.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingInfo.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingInfo.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingInfo.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingInfo.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingInfo.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingInfo.StateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingInfo.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingInfo.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingInfo.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingInfo.StateName)
        </dd>

    </dl>
</div>
<div>
    <button class="w3-btn w3-round w3-ripple w3-small editButton" onclick="location.href='@Url.Action("UpdateMemberListing", "Portal",new { memID = Model.MemberInfo.ID })'"><i class="fa fa-pencil fa-lg"></i> Update Listing Info</button><br />
</div>
<br>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
