<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - IPG Admin Portal</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/ipgLogoFavicon.ico" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/w3.css")
    @Styles.Render("~/Content/AdminPortalSharedLayout.css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="w3-white">

    <!--Top Nav Bar-->
    <div class="w3-navbar w3-black w3-hide-small">
        @Html.Partial("_LoginPartial")
    </div>
    <div>
        @Html.Partial("_AdminSideNav")
    </div>

    <!-- Navbar on small screens (Hidden on medium and large screens) --------------------------------->
    <div class="w3-bar w3-top w3-black w3-small">
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-left w3-hide-large w3-hide-medium" onclick="w3_open_bar()"><i class="fa fa-bars"></i></a>
    </div>
    <nav class="w3-sidebar w3-bar-block w3-black w3-card-2 w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="adminPortalBar">
        <a href="javascript:void(0)" onclick="w3_close_bar()" class="w3-bar-item w3-button w3-padding-16">× Close</a>
        <a href="@Url.Action("Index", "Portal")" onclick="w3_close_bar()" class="w3-bar-item w3-button">DASHBOARD</a>
        <a href="@Url.Action("ListMembers","Portal")" onclick="w3_close_bar()" class="w3-bar-item w3-button">MEMBERS</a>
        <a href="@Url.Action("ReportLandingPage", "Portal")" onclick="w3_close_bar()" class="w3-bar-item w3-button">REPORTS</a>
        <a href="#pricing" onclick="w3_close_bar()" class="w3-bar-item w3-button">RESULTS</a>
        <a href="#contact" onclick="w3_close_bar()" class="w3-bar-item w3-button">TEST CERT</a>
        <a href="@Url.Action("Index", "Home")" onclick="w3_close_bar()" class="w3-bar-item w3-button">IPG HOME</a>
        <a href="javascript:document.getElementById('logoutForm').submit()" onclick="w3_close_bar()" class="w3-bar-item w3-button">LOG OFF</a>
    </nav>

    <!-- END PAGE CONTENT -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/SharedLayout.js")
    @RenderSection("scripts", required: false)

    <!-- Page Content -->
    <div class="w3-padding-medium allowScroll" id="main">
        <div>
            @RenderBody()
        </div>
    </div>

    <!-- Footer -->
    <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge" id="mainFooter">
        <p class="w3-medium">Powered by StarTech</p>
        <!-- End footer -->
    </footer>
</body>

</html>
