@{
    ViewBag.Title = "Home Page";
}


<br>
<br>

<div class="left-navbar">
    <div class="topLogo">
        <img src="~/Content/Images/IPGLogo2.jpeg" alt="Top Logo" />
    </div>
    <p>
        Links go here, these not in order. Will need to touch up once links are established.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About IPG", "About", "Home")</li>
        <li>@Html.ActionLink("Contact IPG", "Contact", "Home")</li>
        <li>@Html.ActionLink("FAQ", "FAQ", "Home")</li>
        <li>@Html.ActionLink("Members", "Index", "Member")</li>
        <li>For future links</li>
        <li>Yupe, you guessed it.</li>
        <li>Another one</li>
        <li>And another</li>
        <li>And another</li>
        <li>Hi</li>
    </ul>
</div>
