<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IPGMMS</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/PortalCSS.css")
    @Scripts.Render("~/bundles/modernizr")


</head>

<body>
    <div id="wrapper">
        <div class="row">
            <div class="col-md-2">
                <a href="@Url.Action("Index", "Home")"><img src="~/Content/Images/IPGLogo.jpg" alt="Top Logo" /></a>
            </div>
            <div class="col-md-9" id="ralign">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        <hr />
        <div class="container body-content">
            @RenderBody()
        </div>

        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year - StarTech Application</p>
            <img src="~/Content/Images/IPGLogo.jpg" alt="Bottom Logo" />
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

