@model IList<FakeNewsProject.Models.Story>

@{
    ViewBag.Title = "News";
}
<center><h1>Fake News</h1></center>
<center><small>....or is it?</small></center>


<div class="row">
    <div class="col-md-7">
        <div class="row text-center">
            <h1>@Html.DisplayFor(model => model[0].Title)</h1>
        </div>
        <div class="row text-center">@Html.DisplayFor(model => model[0].Summary)</div>
        <div class="row">
            <div class="col-md-4">
                By:
                @Html.ActionLink(Model[0].User.UserName, "Details", "Users", new { ID = Model[0].ID }, null)
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">@Html.DisplayFor(model => model[0].PostDate)</div>
        </div>
        <div class="row"><pre>@Html.DisplayFor(model => model[0].Body)</pre></div>
        <p>
            @Html.ActionLink("Create News Story", "Create", "Stories")
        </p>
    </div>
    <div class="col-md-5">
        <center>
            @for (var i = 1; i < Model.Count; i++)
            {
                <hr />
                <div class="row text-center">
                    @Html.ActionLink(Model[i].Title, "Details", "Stories", new { ID = Model[i].ID }, null)
                </div>
                <div class="row">
                    @Html.DisplayFor(model => model[i].Summary)
                </div>
                <div class="row">
                    <div class="col-md-6 text-center">
                        By: @Html.ActionLink(Model[i].User.UserName, "Details", "Users", new { ID = Model[i].ID }, null)
                    </div>
                    <div class="col-md-6 text-center">
                        @Html.DisplayFor(model => model[i].PostDate)
                    </div>
                </div>

                    @*Place link to story page here*@


            }
        </center>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
       @* We can put some more text below the stories. The left side is reserved for the newest story while the right side shows the newest story in the other 4 categories that we have at this time.
           *@

    </div>
    <div class="col-md-4"></div>
</div>